<div class="booking">
  <div class="enum-title">Archives</div>
  <div class="booking-container">
    <div class="filters">
      <div [className]="this.activatedView === 'all' ? 'active' : '' " (click)="allMeetings()">
        <span>Tous</span>
      </div>
      <div [className]="this.retro === true ? 'active' : '' "  (click)="toggleRetro(true)">
        <span>Avec Rétro</span>
      </div>
      <div [className]="this.retro === false ? 'active' : '' "  (click)="toggleRetro(false)">
        <span>Sans Rétro</span>
      </div>
    </div>
    <div class="event-containers">
      <ng-container *ngIf="listing.length > 0">
        <app-event *ngFor="let meeting of listing" [load]="false" [data]="meeting"></app-event>
      </ng-container>
      <ng-container *ngIf="this.load">
        <app-event [load]="true" ></app-event>
        <app-event [load]="true"></app-event>
      </ng-container>
      <ng-container *ngIf="!this.load">
        <ng-container *ngIf="listing.length > 0">
          <div class="paginate">
            <div class="place">Afficher {{ listing.length }} sur {{ totalMeetings }} réservation{{ totalMeetings > 1 ? 's' : '' }}</div>
            <div class="time-line">
              <span [style]="'width: ' + ((listing.length/totalMeetings) * 100)" ></span>
            </div>
            <div *ngIf="listing.length < totalMeetings" class="more" (click)="nextPage()">Afficher plus</div>
          </div>
        </ng-container>
        <ng-container *ngIf="listing.length === 0">
          <app-empty></app-empty>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
