<div class="event" *ngIf="load">
  <div class="present">
    <div class="badge">
      <ngx-skeleton-loader
        count="1"
        appearance="circle"
        [theme]="{
                'height.px': 18,
                'width.px': 18,
                'background-color': '#4a4e69'
              }"
      ></ngx-skeleton-loader>
    </div>
    <div class="body">
      <div class="title">
        <ngx-skeleton-loader
          count="1"
          [theme]="{
                'height.px': 18,
                'width': 100,
                'background-color': '#4a4e69'
              }"
        ></ngx-skeleton-loader>
      </div>
      <div class="timer">
        <ngx-skeleton-loader
          count="1"
          [theme]="{
                'height.px': 13,
                'width.px': 150,
                'background-color': '#4a4e69'
              }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
  <div class="publisher">
    <div class="extra">
      <ngx-skeleton-loader
        count="1"
        [theme]="{
                'height.px': 17,
                'width.px': 100,
                'background-color': '#4a4e69'
              }"
      ></ngx-skeleton-loader>
    </div>
    <div class="creator" style="padding-top: 4px">
      <ngx-skeleton-loader
        count="1"
        [theme]="{
                'height.px': 17,
                'width.px': 100,
                'background-color': '#4a4e69'
              }"
      ></ngx-skeleton-loader>
    </div>
  </div>
</div>
<div (click)="showModal()" class="event" *ngIf="!load">
  <div class="present">
    <div class="badge">
      <span class="material-icons-outlined">{{ data.badge }}</span>
    </div>
    <div class="body">
      <div class="title">{{ data.title }}</div>
      <div class="timer">
        <span class="material-icons">schedule</span>
        <div class="hour">{{ parseDate(data.startedAt) }} - {{ parseDate(data.endsAt) }}</div>
      </div>
    </div>
  </div>
  <div class="publisher">
    <div class="extra">
      <ng-container *ngIf="data.retro">
        <span class="material-icons-outlined">videocam</span>
        Avec rétro
      </ng-container>
      <ng-container *ngIf="!data.retro">
        Sans rétro
      </ng-container>
    </div>
    <div class="creator">
      {{ data.user.samaccountname }}<br />
      <span>{{ data.user.roles[0] }}</span>
    </div>
  </div>
</div>
<div *ngIf="!load" [className]="showDetails ? 'event-modal active' : 'event-modal'">
  <div *ngIf="!edit" class="content">
    <span (click)="removeMeeting()" *ngIf="data.isEditable && isNotPassed()" class="material-icons-outlined edit">delete</span>
    <span (click)="showModal()" class="material-icons-outlined close">close</span>
    <h3>{{ data.title }}</h3>
    <div class="date">
      <span class="material-icons-outlined">date_range</span>
      {{ parseDate(data.startedAt) }} - {{ parseDate(data.endsAt) }}
    </div>
    <div class="date">
      <ng-container *ngIf="data.retro">
        <span class="material-icons-outlined">videocam</span> Avec Rétro
      </ng-container>
      <ng-container *ngIf="!data.retro">
        Sans Rétro
      </ng-container>
    </div>
    <div class="date" style="text-transform: capitalize">
      <span class="material-icons-outlined">account_circle</span> {{ data.user.username }}
    </div>
    <div class="comment">
      {{ data.comment }}
    </div>
    <button (click)="requestEdition()" *ngIf="data.isEditable && isNotPassed()">Mettre à jour</button>
  </div>
  <div *ngIf="edit" class="content">
    <span (click)="showModal()" class="material-icons-outlined close">close</span>
    <h3>Mettre à jour</h3>
    <form>
      <div class="box">
        <label>Ajouter un badge</label>
        <div class="badges">
          <ng-container *ngFor="let emo of badges">
        <span
          [className]="emo.title === tempData.badge ? 'material-icons-outlined active' : 'material-icons-outlined'"
          [title]="emo.value"
          (click)="handleChooseBadge(emo.title)"
        >
          {{ emo.title }}
        </span>
          </ng-container>
        </div>
      </div>
      <div class="box">
        <label>Titre</label>
        <input [(ngModel)]="tempData.title" [ngModelOptions]="{standalone: true}" type="text" />
      </div>
      <div class="box">
        <label>Date et Heure</label>
        <div class="check-date">
          <div class="singular">
            <input type="date" [(ngModel)]="day" [ngModelOptions]="{standalone: true}" />
          </div>
          <div class="singular">
            <span>De :</span> <input [(ngModel)]="started_at" type="time" [ngModelOptions]="{standalone: true}" />
          </div>
          <div class="singular">
            <span>A :</span> <input [(ngModel)]="ends_at" type="time" [ngModelOptions]="{standalone: true}"  />
          </div>
        </div>
      </div>
      <div class="box">
        <label>Commentaire</label>
        <textarea [(ngModel)]="tempData.comment" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
      <div class="box">
        <div (click)="handleToggleRetro(false)" [className]="tempData.retro === false ? 'funny active' : 'funny'">
          Salle uniquement
        </div>
        <div (click)="handleToggleRetro(true)" [className]="tempData.retro === true ? 'funny active' : 'funny'">
          Salle avec rétro
        </div>
      </div>
      <div class="message">{{ message }}</div>
      <button (click)="handleEditEvent()">
        <img *ngIf="simpleload" class="loader" alt="Wait..." src="../../assets/loader/785.svg" />
        Sauvegarder
      </button>
    </form>
  </div>
</div>
<div [className]=" updated ? 'added-side active' : 'added-side' ">
  <span class="material-icons-outlined">check_circle</span>
  Mise à jour effectuer
</div>
