.event{
  display: flex;
  background: #252a35;
  border-radius: 5px;
  height: auto;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 20px;
}

.event .present{
  display: flex;
}

.event .badge{
  width: 70px;
  border-right: 2px solid #171c28;
  text-align: center;
  line-height: 70px;
}

.event .badge span{
  color: var(--primary-color);
  font-size: 25px;
  position: relative;
  top: 5px;
}

.event .body{
  padding: 10px;
}

.event .body .title{
  font-size: 17px;
  color: #fefefe;
  width: 350px;
}

.event .body .timer{
  display: flex;
  margin-top: 5px;
}

.event .body .timer span{
  font-size: 17px;
  margin-right: 5px;
  position: relative;
  top: 1px;
}

.event .publisher{
  padding: 10px;
  display: flex;
}

.event .publisher .extra{
  padding-top: 7px;
}

.event .publisher .extra span{
  position: relative;
  top: 5px;
  margin-right: 2px;
}

.event .publisher .creator{
  margin-left: 40px;
  margin-top: 3px;
  text-transform: capitalize;
}

.event .publisher .creator span{
  font-size: 14px;
}

@media screen and (max-width: 820px) {
  .event{
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .event .badge{
    border-right: 0;
    line-height: normal;
    position: relative;
    width: 50px;
  }

  .event .publisher{
    flex-direction: column;
    margin-left: 50px;
    padding: 0;
  }

  .event .publisher .creator{
    margin-left: 0;
    margin-top: 10px;
  }

  .event .body{
    padding: 0;
  }

  .event .body .title{
    width: auto;
  }
}
