<div class="calendar-container">
    <div class="calendar-content">
        <div class="enum-title">Calendrier</div>
        <div class="calendar">
            <div class="top-title">
                <div class="indexed">
                    <div (click)="mappedToday()" class="day">
                      <ng-container *ngIf="selectedView === 'day'">
                        Aujourd'hui
                      </ng-container>
                      <ng-container *ngIf="selectedView === 'week'">
                        Cette semaine
                      </ng-container>
                      <ng-container *ngIf="selectedView === 'month'">
                        Ce mois
                      </ng-container>
                    </div>
                    <div class="mount">
                        <span (click)="handleLastElement()" class="material-icons-outlined">arrow_back_ios</span>
                        <strong>{{ this.monthsLabels[this.indexedDate.getMonth()] +' '+ this.indexedDate.getFullYear() }}</strong>
                        <span  (click)="handleNextElement()" class="material-icons-outlined">arrow_forward_ios</span>
                    </div>
                </div>
                <div class="view-type">
                    <span (click)="handleChangeView('day')" [className]="selectedView === 'day' ? 'selected' : ''">Jour</span>
                    <span (click)="handleChangeView('week')" [className]="selectedView === 'week' ? 'selected' : ''">Semaine</span>
                    <span (click)="handleChangeView('month')" [className]="selectedView === 'month' ? 'selected' : ''">Mois</span>
                </div>
            </div>
            <div class="calendar-shower">
              <app-viewmonth [elementToAdd]="newElementToAdd" (addMeeting)="handleRequestNewEvent($event)" (changeMonth)="handlePreventMonthChange($event)" *ngIf="selectedView === 'month'" [indexDate]="indexedDate" [currentDateDay]="currentDateNumber"></app-viewmonth>
              <app-viewday [elementToAdd]="newElementToAdd" (addMeeting)="handleRequestNewEvent($event)" *ngIf="selectedView === 'day'" [indexDate]="indexedDate" [currentDateDay]="currentDateNumber"></app-viewday>
              <app-viewweek [elementToAdd]="newElementToAdd" (addMeeting)="handleRequestNewEvent($event)" *ngIf="selectedView === 'week'" [indexDate]="indexedDate" [currentDateDay]="currentDateNumber" ></app-viewweek>
            </div>
        </div>
    </div>
</div>
<app-meeting (pushAdded)="handleNewElement($event)" (created)="handleCreated()" [show]="showModal" [requestedDate]="taggedDate" (hideElement)="handleChangeModalShow($event)" ></app-meeting>
