.top-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.top-title .indexed{
    display: flex;
}

.top-title .indexed .day{
    margin-right: 20px;
    border: 2px solid #252a35;
    height: 40px;
    line-height: 36px;
    width: 130px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.top-title .indexed .mount{
    line-height: 40px;
}

.top-title .indexed .mount::selection {
  background: transparent;
}

.top-title .indexed .mount span{
    font-size: 20px;
    position: relative;
    top: 4px;
    margin: 0 10px;
    cursor: pointer;
    color: #727272;
}

.top-title .view-type{
  position: relative;
  display: flex;
}

.top-title .view-type span{
  display: block;
  width: 90px;
  height: 40px;
  text-align: center;
  border: 2px solid #252a35;
  line-height: 36px;
  cursor: pointer;
}

.top-title .view-type span.selected{
  background: #252a35;
}

.calendar-shower{
  margin-top: 30px;
}

@media screen and (max-width: 750px) {
  .top-title{
    display: block;
  }

  .top-title .view-type{
    margin-top: 20px;
  }

  .top-title .indexed{
    justify-content: space-between;
  }
}

@media screen and (max-width: 500px) {
  .top-title .view-type{
    width: 100%;
  }

  .top-title .view-type span{
    width: 33.33%;
  }
}

@media screen and (max-width: 400px) {
  .top-title .indexed .day{
    width: 110px;
    font-size: 15px;
    margin-right: 0;
  }

  .top-title .indexed .mount span{
    font-size: 18px;
  }

  .top-title .indexed .mount span{
    margin: 0 5px;
    font-size: 17px;
  }
}
