.company{
  font-weight: 700;
}

.login-container{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.login-element{
  background: #003f88;
  color: #fff;
  display: flex;
}

.login-form{
  width: 400px;
  height: 400px;
}

.illustration{
  width: 300px;
  background: #00509d;
  padding: 30px;
}

.login-element .title{
  font-size: 35px;
}

.login-form{
  position: relative;
  padding: 40px;
}

.login-form button{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border: none;
  background: var(--primary-color);
  font-size: 17px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.login-form button.sad{
  background: #79611f;
  color: #c5c5c5;
  cursor: not-allowed;
}

.form-box{
  margin-top: 30px;
  position: relative;
}

.form-box .eye{
  position: absolute;
  top: 17px;
  right: 0;
  cursor: pointer;
}

.form-box input{
  background: transparent;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 17px;
}

.form-box input::placeholder{
  color: #fff;
}

.message{
  color: red;
  margin-top: 30px;
}

@media screen and (max-width: 900px) {
  .illustration{
    display: none;
  }
}


@media screen and (max-width: 600px) {
  .login-form{
    padding: 30px;
    width: 300px;
    height: 350px;
  }

  .login-element .title{
    font-size: 25px;
  }

  .form-box input{
    height: 45px;
  }

  .form-box{
    margin-top: 20px;
  }
}
