<div class="login-container">
  <div class="login-element">
    <div class="illustration">
      <div class="company">Mars-magnus</div>
      <div class="title">Connexion</div>
    </div>
    <div class="login-form">
      <div class="login-form-content">
        <div class="element">
          <div class="logo">
            <div class="company">Mars-magnus</div>
            <div class="title">Connexion</div>
          </div>
          <div class="form">
            <div class="form-box">
              <input [(ngModel)]="username" type="text" placeholder="Nom d'utilisateur" >
            </div>
            <div class="form-box">
              <input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" placeholder="Mot de passe" >
              <span (click)="handleChangeViewPassword()" class="material-icons-outlined eye">{{ showPassword ? 'visibility_off' : 'visibility' }}</span>
            </div>
            <div class="message">{{ message }}</div>
            <button (click)="username.length > 0 && password.length > 0 ? login() : ''" [className]="username.length > 0 && password.length > 0 ? '' : 'sad' ">
              <img *ngIf="loading" class="loader" alt="Wait..." src="../../assets/loader/785.svg" />
              Se connecter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
