<div class="resume-side">
  <div class="overview">
    <div class="tips">
      <div class="info">
        <h4>Informations</h4>
        <div></div>
      </div>
    </div>
    <div class="stats">
      <div class="block">
        <div class="icon">

        </div>
        <div class="text">
          Toutes les réservations
          <div class="amount">
            {{ globalStats.total }}
          </div>
        </div>
      </div>
      <div class="block">
        <div class="icon">

        </div>
        <div class="text">
          Réservations à venir
          <div class="amount">{{ globalStats.coming }}</div>
        </div>
      </div>
    </div>
    <div class="composed-calendar">
      <div class="spliter">
        <div class="on-tile">
          Planning du mois
          <div>{{ indexDate.getMonth() + 1}}/{{ indexDate.getFullYear() }} </div>
        </div>
        <div class="calendar">
          <ng-container *ngIf="calendarLoad">
            <div style="height: 240px"></div>
          </ng-container>
          <ng-container *ngIf="!calendarLoad">
            <ng-container *ngFor="let day of allDays">
              <div (click)="findDaysEvents(day.day)" *ngIf="day.current" [className]=" dayIndex > day.day ? 'current passed' : 'current'" >
                {{ day.day }}
                <span *ngIf="eventOnDate(day.day)" class="colored"></span>
              </div>
              <div *ngIf="!day.current" [className]="'day-box'" >
                {{ day.day }}
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="countings">
        <div class="countings-block">
          <div class="sample">
            <span class="material-icons-outlined">all_inclusive</span>
            <div>
              Tous
              <div class="numbre">{{ monthStats.all }}</div>
            </div>
          </div>
          <div class="sample">
            <span class="material-icons-outlined">check_circle</span>
            <div>
              Effectuées
              <div class="numbre">{{ monthStats.done }}</div>
            </div>
          </div>
          <div class="sample">
            <span class="material-icons-outlined">upcoming</span>
            <div>
              A venir
              <div class="numbre">{{ monthStats.coming }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="widest-side">
      <div class="title">Ajoutées récemments</div>
      <div class="listings">
        <ng-container *ngIf="!loadListing">
          <ng-container *ngIf="listings.length > 0">
            <app-event (remove)="deleteMeeting($event)" *ngFor="let data of listings" [data]="data" [load]="false"></app-event>
          </ng-container>
          <ng-container *ngIf="listings.length === 0" ></ng-container>
        </ng-container>
        <ng-container *ngIf="loadListing">
          <app-event [load]="true"></app-event>
          <app-event [load]="true"></app-event>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="simple-calendar">
    <div class="on-tile">
      Planning du mois
      <div>{{ indexDate.getMonth() + 1}}/{{ indexDate.getFullYear() }} </div>
    </div>
    <div class="calendar">
      <ng-container *ngIf="calendarLoad">
        <div style="height: 240px"></div>
      </ng-container>
      <ng-container *ngIf="!calendarLoad">
        <ng-container *ngFor="let day of allDays">
          <div (click)="findDaysEvents(day.day)" *ngIf="day.current" [className]=" dayIndex > day.day ? 'current passed' : 'current'" >
            {{ day.day }}
            <span *ngIf="eventOnDate(day.day)" class="colored"></span>
          </div>
          <div *ngIf="!day.current" [className]="'day-box'" >
            {{ day.day }}
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="countings">
      <div class="countings-block">
        <div class="sample">
          <span class="material-icons-outlined">all_inclusive</span>
          <div>
            Tous
            <div class="numbre">{{ monthStats.all }}</div>
          </div>
        </div>
        <div class="sample">
          <span class="material-icons-outlined">check_circle</span>
          <div>
            Effectuées
            <div class="numbre">{{ monthStats.done }}</div>
          </div>
        </div>
        <div class="sample">
          <span class="material-icons-outlined">upcoming</span>
          <div>
            A venir
            <div class="numbre">{{ monthStats.coming }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [className]="daysEventModal ? 'event-modal active' : 'event-modal'">
  <div class="list-event-on-day">
    <span (click)="closeDaysEvents()" class="material-icons-outlined close">close</span>
    <div class="ot-title">
      Réservations du {{ daysEventLabel }}
      <button (click)="requestNewEvent()">Nouvelle réservation</button>
    </div>
    <div class="listings">
      <ng-container *ngIf="dayEventListLoad">
        <app-event [load]="true"></app-event>
        <app-event [load]="true"></app-event>
      </ng-container>
      <ng-container *ngIf="!dayEventListLoad">
        <ng-container *ngIf="dayEventList.length > 0">
          <app-event *ngFor="let data of dayEventList" [load]="false" [data]="data" ></app-event>
        </ng-container>
        <ng-container *ngIf="dayEventList.length === 0">
          <app-empty></app-empty>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<app-meeting (pushAdded)="pushNewMeeting($event)" [show]="showModal" [requestedDate]="taggedDate" (hideElement)="handleChangeModalShow($event)" ></app-meeting>
