.resume-side{
  display: flex;
  justify-content: space-between;
}

.resume-side .overview{
  width: 70%;
  padding-right: 20px;
}

.resume-side .overview .composed-calendar{
  display: none;
}

.resume-side .simple-calendar,
.resume-side .overview .composed-calendar{
  position: sticky;
  top: 100px;
  width: 30%;
  height: 85vh;
  background: #252a35;
  border-radius: 10px;
  padding: 30px;
}

.resume-side .overview .composed-calendar{
  display: none;
  position: relative;
  top: 0;
  margin-top: 30px;
  width: 100%;
  height: auto;
}

.resume-side .stats{
  display: flex;
  justify-content: space-between;
}

.resume-side .stats .block{
  width: 48%;
  background: #252a35;
  padding: 30px;
  border-radius: 10px;
  display: flex;
}

.resume-side .stats .block .amount{
  font-size: 30px;
  font-weight: 900;
  margin-top: 10px;
}

.resume-side .tips{
  width: 100%;
  height: 170px;
  background-image: url('/assets/background/tips.jpg');
  border-radius: 10px;
  margin-bottom: 30px;
  background-size: cover;
  padding: 10px 30px;
}

.resume-side .tips .info{
  width: 600px;
}

.resume-side .widest-side{
  display: block;
  margin-top: 40px;
}

.resume-side .widest-side .title{
  font-size: 20px;
}

.resume-side .listings{
  margin-top: 50px;
}

.countings{
  margin-top: 30px;
}

.days{
  display: flex;
  margin-top: 30px;
}

.days div{
  width: 12.28%;
  background: var(--background-color);
}

.calendar{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.calendar div{
  width: 12.28%;
  margin: 1%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 3px;
  border-radius: 10px;
  cursor: pointer;
}

.calendar div.current{
  background: var(--background-color);
}

.calendar div.current.passed{
  background: #003f88;
}

.calendar div.active{
  background: #003f88;
}

.on-tile{
  display: flex;
  justify-content: space-between;
}

.on-tile div{
  font-weight: 700;
}

.calendar div .colored{
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 3px;
  background: var(--primary-color);
  margin-top: 2px;
}

.countings-block{
  margin-top: 30px;
}

.countings-block .sample{
  margin-bottom: 20px;
  padding: 20px;
  background: var(--background-color);
  border-radius: 10px;
  display: flex;
}

.countings-block .sample span{
  font-size: 40px;
  margin-right: 20px;
}

.countings-block .sample .numbre{
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 1600px) {

  .resume-side .overview{
    width: 65%;
  }

  .resume-side .simple-calendar{
    width: 45%;
  }
}

@media screen and (max-width: 1450px){
  .resume-side .tips .info{
    width: 90%;
  }
}

@media screen and (max-width: 1300px){
  .resume-side .simple-calendar{
    padding: 10px 20px;
  }

  .resume-side .simple-calendar{
    padding: 20px;
  }
}

@media screen and (max-width: 1200px){
  .resume-side .simple-calendar{
    display: none;
  }

  .resume-side .overview{
    width: 100%;
    padding-right: 0;
  }

  .resume-side .overview .composed-calendar{
    display: flex;
    justify-content: space-between;
  }

  .resume-side .overview .composed-calendar .spliter{
    width: 48%;
  }

  .resume-side .overview .composed-calendar .countings{
    width: 48%;
  }

  .composed-calendar .countings .countings-block .sample{
    margin-bottom: 15px;
    padding: 10px;
  }

  .composed-calendar .countings .countings-block .sample span{
    font-size: 30px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 750px){
  .resume-side .overview .composed-calendar{
    flex-direction: column;
  }

  .resume-side .overview .composed-calendar .spliter{
    width: 100%;
  }

  .resume-side .overview .composed-calendar .countings{
    width: 100%;
  }
}

@media screen and (max-width: 600px){
  .resume-side .stats{
    flex-direction: column;
  }

  .resume-side .stats .block{
    width: 100%;
    margin-bottom: 30px;
  }
}
