.event-indexer{
  position: relative;
  color: #fff;
  padding: 3px 10px;
  background: var(--axes-one);
  z-index: 100;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  overflow: hidden;
}

.event-indexer.passed{
  background: #495057;
}

.event-indexer span{
  font-size: 18px;
  position: relative;
  top: 3px;
}

.condensed{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--primary-color);
  margin: 3px;
}

.condensed.passed{
  background: #495057;
}
