<div *ngIf="view === 'simple'" [style]="'height: ' + height + '%; margin-top: ' + margin + '%'" (click)="showModal($event)" [className]="isPassed() ? 'event-indexer passed' : 'event-indexer'">
  <span class="material-icons-outlined">{{ data.badge }}</span>
  {{ data.title }}
</div>
<div (click)="showModal($event)" *ngIf="view === 'month'" [className]="isPassed() ? 'condensed passed' : 'condensed'"></div>
<div [className]="showDetails ? 'event-modal active' : 'event-modal'">
  <div *ngIf="!edit" class="content">
    <span (click)="showModal($event)" class="material-icons-outlined close">close</span>
    <span (click)="removeMeeting()" *ngIf="data.isEditable && isNotPassed()" class="material-icons-outlined edit">delete</span>
    <h3>{{ data.title }}</h3>
    <div class="date">
      <span class="material-icons-outlined">date_range</span>
      {{ parseDate(data.startedAt) }} - {{ parseDate(data.endsAt) }}
    </div>
    <div class="date">
      <ng-container *ngIf="data.retro">
        <span class="material-icons-outlined">videocam</span> Avec Rétro
      </ng-container>
      <ng-container *ngIf="!data.retro">
        Sans Rétro
      </ng-container>
    </div>
    <div class="date" style="text-transform: capitalize">
      <span class="material-icons-outlined">account_circle</span> {{ data.user.username }}
    </div>
    <div class="comment">
      {{ data.comment }}
    </div>
    <button (click)="requestEdition()" *ngIf="data.isEditable && isNotPassed()">Mettre à jour</button>
  </div>
  <div *ngIf="edit" class="content">
    <span (click)="showModal($event)" class="material-icons-outlined close">close</span>
    <h3>Mettre à jour</h3>
    <form>
      <div class="box">
        <label>Ajouter un badge</label>
        <div class="badges">
          <ng-container *ngFor="let emo of badges">
        <span
          [className]="emo.title === tempData.badge ? 'material-icons-outlined active' : 'material-icons-outlined'"
          [title]="emo.value"
          (click)="handleChooseBadge(emo.title)"
        >
          {{ emo.title }}
        </span>
          </ng-container>
        </div>
      </div>
      <div class="box">
        <label>Titre</label>
        <input [(ngModel)]="tempData.title" [ngModelOptions]="{standalone: true}" type="text" />
      </div>
      <div class="box">
        <label>Date et Heure</label>
        <div class="check-date">
          <div class="singular">
            <input type="date" [(ngModel)]="day" [ngModelOptions]="{standalone: true}" />
          </div>
          <div class="singular">
            <span>De :</span> <input [(ngModel)]="started_at" type="time" [ngModelOptions]="{standalone: true}" />
          </div>
          <div class="singular">
            <span>A :</span> <input [(ngModel)]="ends_at" type="time" [ngModelOptions]="{standalone: true}"  />
          </div>
        </div>
      </div>
      <div class="box">
        <label>Commentaire</label>
        <textarea [(ngModel)]="tempData.comment" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
      <div class="box">
        <div (click)="handleToggleRetro(false)" [className]="tempData.retro === false ? 'funny active' : 'funny'">
          Salle uniquement
        </div>
        <div (click)="handleToggleRetro(true)" [className]="tempData.retro === true ? 'funny active' : 'funny'">
          Salle avec rétro
        </div>
      </div>
      <div class="message">{{ message }}</div>
      <button (click)="handleEditEvent()">
        <img *ngIf="simpleload" class="loader" alt="Wait..." src="../../assets/loader/785.svg" />
        Sauvegarder
      </button>
    </form>
  </div>
</div>
<div [className]=" updated ? 'added-side active' : 'added-side' ">
  <span class="material-icons-outlined">check_circle</span>
  Mise à jour effectuer
</div>
