.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    line-height: 70px;
    background: #171c28;
    width: 100%;
    border-bottom: 2px solid #252a35;
    padding: 0 30px 0 340px;
    z-index: 1000;
}

.alternate-logo{
  display: none;
  margin-right: 30px;
}

.alternate-logo span{
  display: block;
  position: relative;
  padding-top: 23px;
  margin-right: 0;
  cursor: pointer;
}

.alternate-logo .logo{
  height: 70px;
  line-height: 70px;
  border-bottom: 2px solid #252a35;
  padding-left: 20px;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 900;
}

.head-content{
    display: flex;
    justify-content: space-between;
}

.left-side{
    display: flex;
}

.left-side .menu a{
    text-decoration: none;
    color: #b5b5b5;
    margin-right: 50px;
    cursor: pointer;
}

.left-side .menu a:hover{
    color: #fff;
}

.right-side{
    display: flex;
}

.right-side .icon{
  margin-left: 15px;
}

.right-side .icon span{
    font-size: 30px;
    color: #727272;
    position: relative;
    top: 7px;
    cursor: pointer;
}

.right-side .icon:hover span{
  color: #fefefe;
}

@media screen and (max-width: 1200px) {

  .left-side .menu a{
    margin-right: 30px;
  }

  .header{
    padding: 0 20px 0;
  }

  .alternate-logo{
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  .left-side .menu{
    display: none;
  }

  .alternate-logo{
    margin-right: 10px;
  }
}
