<div class="header">
    <div class="head-content">
        <div class="left-side">
            <div class="alternate-logo">
              <span (click)="handleClickSideBar()" class="material-icons-outlined">menu</span>
              <div class="logo">Mars-Marketing</div>
            </div>
            <div class="menu">
                <a routerLink="/dashboard">Accueil</a>
                <a routerLink="/dashboard/calendar">Calendrier</a>
                <a routerLink="/dashboard/booking">Réservations</a>
              <a routerLink="/dashboard/archive">Archives</a>
            </div>
        </div>
        <div class="right-side">
            <div (click)="logout()" class="icon">
                <span class="material-icons-outlined">power_settings_new</span>
            </div>
        </div>
    </div>
</div>
