<div [className]="show ? 'event-modal active' : 'event-modal'">
  <div class="content">
    <span (click)="hide()" class="material-icons-outlined close">close</span>
    <h3>Nouvelle reservation</h3>
    <form>
      <div class="box">
        <label>Ajouter un badge</label>
        <div class="badges">
          <ng-container *ngFor="let emo of badges">
        <span
          [className]="emo.title === badge ? 'material-icons-outlined active' : 'material-icons-outlined'"
          [title]="emo.value"
          (click)="handleChooseBadge(emo.title)"
        >
          {{ emo.title }}
        </span>
          </ng-container>
        </div>
      </div>
      <div class="box">
        <label>Titre</label>
        <input [(ngModel)]="title" [ngModelOptions]="{standalone: true}" type="text" />
      </div>
      <div class="box">
        <label>Date et Heure</label>
        <div class="check-date">
          <div class="singular">
            <input type="date" [(ngModel)]="day" [ngModelOptions]="{standalone: true}" />
          </div>
          <div class="singular">
            <span>De :</span> <input [(ngModel)]="started_at" type="time" [ngModelOptions]="{standalone: true}" />
          </div>
          <div class="singular">
            <span>A :</span> <input [(ngModel)]="ends_at" type="time" [ngModelOptions]="{standalone: true}"  />
          </div>
        </div>
      </div>
      <div class="box">
        <label>Commentaire</label>
        <textarea [(ngModel)]="comment" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
      <div class="box">
        <div (click)="handleToggleRetro(false)" [className]="retro === false ? 'funny active' : 'funny'">
          Salle uniquement
        </div>
        <div (click)="handleToggleRetro(true)" [className]="retro === true ? 'funny active' : 'funny'">
          Salle avec rétro
        </div>
      </div>
      <div class="message">{{ message }}</div>
      <button (click)="postMeeting()">
        <img *ngIf="load" class="loader" alt="Wait..." src="../../assets/loader/785.svg" />
        Sauvegarder
      </button>
    </form>
  </div>
</div>
<div [className]=" added ? 'added-side active' : 'added-side' ">
    <span class="material-icons-outlined">check_circle</span>
    Votre reservation a été effectuer.
</div>
