<div [className]="displayMe ? 'sidebar active' : 'sidebar'">
  <div class="logo">
    Mars-Marketing
  </div>
  <nav>
    <div class="person">
      <span class="material-icons-outlined">account_circle</span>
      {{ user.samaccountname }}
    </div>
    <div class="menu">
      <a (click)="handleCloseSideBar()" routerLink="/dashboard">Accueil</a>
      <a (click)="handleCloseSideBar()" routerLink="/dashboard/calendar">Calendrier</a>
      <a (click)="handleCloseSideBar()" routerLink="/dashboard/booking">Réservations</a>
      <a (click)="handleCloseSideBar()" routerLink="/dashboard/archive">Archives</a>
    </div>
    <div class="upcoming">
      <div class="up-title">A venir</div>
      <div class="event-list">
        <ng-container *ngIf="loader">
          <div class="skeleton-load">
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                'height.px': 16,
                'width': '100%',
                'background-color': '#4a4e69'
              }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                'height.px': 16,
                'width.px': 150,
                'background-color': '#4a4e69'
              }"
            ></ngx-skeleton-loader>
          </div>
          <div class="skeleton-load" >
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                'height.px': 16,
                'width': '100%',
                'background-color': '#4a4e69'
              }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                'height.px': 16,
                'width.px': 150,
                'background-color': '#4a4e69'
              }"
            ></ngx-skeleton-loader>
          </div>
          <div class="skeleton-load" >
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                'height.px': 16,
                'width': '100%',
                'background-color': '#4a4e69'
              }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                'height.px': 16,
                'width.px': 150,
                'background-color': '#4a4e69'
              }"
            ></ngx-skeleton-loader>
          </div>
          <div class="skeleton-load" >
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                'height.px': 16,
                'width': '100%',
                'background-color': '#4a4e69'
              }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                'height.px': 16,
                'width.px': 150,
                'background-color': '#4a4e69'
              }"
            ></ngx-skeleton-loader>
          </div>
        </ng-container>
        <ng-container *ngIf="!loader">
          <ng-container *ngIf="upcomming.length > 0">
            <div *ngFor="let event of upcomming" class="simple-event">
              <span class="material-icons-outlined">{{ event.badge }}</span>
              <div class="title">
                {{ event.title }}
                <div class="time">{{ parseDate(event.startedAt) }}</div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </nav>
</div>
