.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  border-right: 1px solid #252a35;
  z-index: 1100;
  background: var(--background-color);
  overflow-y: auto;
}

.sidebar .logo{
  height: 70px;
  line-height: 70px;
  border-bottom: 2px solid #252a35;
  padding-left: 30px;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 900;
}

nav{
  padding: 30px;
}

nav .person{
  display: flex;
  background: #252a35;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
  padding: 0 10px;
  font-size: 17px;
  margin-bottom: 30px;
  color: #fefefe;
  text-transform: capitalize;
}

nav .person span{
  position: relative;
  top: 13px;
  margin-right: 5px;
  font-size: 25px;
  color: #c5c5c5;
}

.up-title{
  color: #fefefe;
  font-size: 20px;
  margin-bottom: 20px;
}

.skeleton-load{
  margin-bottom: 7px;
}

.simple-event{
  display: flex;
  margin-bottom: 15px;
  color: #fefefe;
}

.simple-event span{
  color: #e8a700;
  position: relative;
  font-size: 20px;
  top: 3px;
  margin-right: 5px;
}

.simple-event .time{
  font-size: 13px;
  margin-top: 2px;
  color: #b5b5b5;
}

.menu{
  display: none;
  margin-bottom: 30px;
}

.menu a{
  position: relative;
  display: block;
  text-decoration: none;
  color: #b5b5b5;
  height: 40px;
  line-height: 40px;
}

@media screen and (max-width: 1200px) {
  .sidebar{
    width: 270px;
  }

  .sidebar .logo{
    padding-left: 20px;
  }

  nav{
    padding: 20px;
  }

  .sidebar{
    z-index: 900;
    left: -272px;
    transition: 0.3s;
  }

  .sidebar.active{
    left: 0;
  }
}

@media screen and (max-width: 800px) {
  .menu{
    display: block;
  }
}
