.content{
  margin-top: 70px;
  margin-bottom: 10px;
}

.day-of-week{
  display: flex;
}

.day-of-week div{
  width: 14.28%;
  text-align: center;
}

.day-box-content{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.day-box{
  width: 14.28%;
  height: 120px;
  border: 1px solid #c5c5c5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 19px;
  background: #252a35;
  cursor: pointer;
}

.day-box.current{
  background: transparent;
}

.day-box.current.today{
  background: var(--axes-one);
}

.day-box .bell{
  display: block;
  width: 35px;
  height: 5px;
  background: var(--axes-one);
  margin-top: 10px;
  border-radius: 30px;
}

.day-box .e-content{
  display: flex;
  margin-top: 2px;
}

@media screen and (max-width: 1000px){
  .container{
    overflow: auto;
  }

  .container .content{
    width: 1000px;
  }
}
