<div class="container">
  <div class="content">
    <div class="day-of-week">
      <div *ngFor="let weekday of weekDays">
        {{ weekday }}
      </div>
    </div>
    <div class="day-box-content">
      <ng-container *ngFor="let day of allDays">
        <div *ngIf="day.current" (click)="addEvent(day)" [className]="day.current && (day.day === currentDateDay && indexDate.getMonth() === today.getMonth() && indexDate.getFullYear() && today.getFullYear()) ? 'day-box current today':'day-box current'" >
          {{ day.day }}
          <div class="e-content">
            <ng-container *ngFor="let element of listing">
              <ng-container *ngIf="isSameDate(day.day, element)">
                <app-inlineevent (edition)="handleEdit()" (remove)="deleteMeeting($event)" [view]="'month'" (click)="stopEvent($event)" [data]="element" ></app-inlineevent>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div *ngIf="!day.current" (click)="otherMonth(day.position)" [className]="'day-box'" >
          {{ day.day }}
        </div>
      </ng-container>
    </div>
  </div>
</div>
