.title{
  margin-left: 50px;
  margin-bottom: 10px;
}

.content{
  display: flex;
  margin-bottom: 10px;
}

.content .legende{
  width: 50px;
  border-right: 1px solid #c5c5c5;
}

.content .legende div{
  height: 45px;
  border-top: 1px solid #c5c5c5;
  line-height: 45px;
  text-align: center;
}

.event-box{
  width: 100%;
}

.event-box .box{
  height: 45px;
  border-top: 1px solid #c5c5c5;
}
