<div class="container">
  <div class="title">
    {{ myDate }}
  </div>
  <div class="content">
    <div class="legende">
      <ng-container *ngFor="let hour of dayHours">
        <div>{{ hour }}h</div>
      </ng-container>
    </div>
    <div class="event-box">
      <div *ngFor="let hour of dayHours" (click)="addEvent(hour)" class="box">
        <ng-container *ngFor="let element of listing">
          <ng-container *ngIf="isSameHour(hour, element)">
            <app-inlineevent (edition)="handleEdit()" (remove)="deleteMeeting($event)" (click)="stopEvent($event)" [height]="elementHeight(element)" [data]="element" ></app-inlineevent>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
