.booking{
  transition: 0.5s;
}

.booking.smallest{
  padding-right: 230px;
}

.filters{
  display: flex;
  margin-top: 30px;
}

.filters div{
  margin-right: 10px;
  height: 35px;
  line-height: 31px;
  border: 2px solid #252a35;
  width: 100px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.filters div.active{
  background: #252a35;
}

.calendar-inline{
  background: var(--background-color);
  position: fixed;
  right: -250px;
  top: 0;
  width: 230px;
  border-left: 2px solid #252a35;
  height: 100vh;
  padding: 90px 10px;
  transition: 0.5s;
}

.calendar-inline.active{
  right: 0;
}

.days-list{
  margin-top: 30px;
}

.days-list .day{
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;
}

.days-list .day.active{
  background: #252a35;
  border-radius: 10px;
  padding: 10px;
}

.days-list .day .number{
  font-size: 40px;
  width: 50px;
  text-align: right;
  margin-right: 15px;
}

.days-list .day .monther{
  margin-top: 10px;
}

.days-list .day .sad{
  color: #727272;
  font-size: 13px;
}

.event-containers{
  margin-top: 50px;
}

.paginate{
  margin: 70px auto 50px;
  width: 300px;
  text-align: center;
}

.paginate .time-line{
  height: 9px;
  width: 100%;
  background: #252a35;
  border-radius: 30px;
  margin: 10px 0;
}

.paginate .time-line span{
  display: block;
  height: 100%;
  border-radius: 30px;
  background: #e8a700;
}

.paginate .more{
  text-decoration: underline;
  cursor: pointer;
}
