.dashboard{
  width: 100vw;
  padding-top: 100px;
  padding-left: 340px;
  padding-right: 50px;
}

@media screen and (max-width: 1200px) {
  .dashboard{
    padding-left: 30px;
  }
}

@media screen and (max-width: 350px) {
  .dashboard{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 90px;
  }
}
