<div class="dashboard">
    <app-header (toggleSideBar)="toggleSideBar()"></app-header>
    <app-sidebar [displayMe]="showSideBar" [user]="user"></app-sidebar>
    <router-outlet></router-outlet>
</div>
