*{
  font-family: 'Oxygen', sans-serif;
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  width: 100vw;
  background: #171c28;
  --background-color: #171c28;
  --primary-color: #e8a700;
  --secondary-color: #e71d36;
  --axes-one: #003f88;
  --axes-two: #00509d;
  color: #aeb0b4;
  overflow-x: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:active{
  outline: none;
}

input,
button,
textarea,
select{
  font-size: 16px;
}

.event-modal{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.event-modal.active{
  display: flex;
}

.event-modal .content{
  position: relative;
  background: var(--background-color);
  width: 550px;
  height: auto;
  padding: 30px;
  max-height: 90vh;
  overflow: auto;
}

.event-modal .close,
.event-modal .edit{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.event-modal .edit{
  right: 60px;
}

.event-modal .content h3{
  font-size: 25px;
  font-weight: normal;
  color: #fefefe;
}

.event-modal .box{
  margin-bottom: 20px;
}

.event-modal .box label{
  display: block;
  margin-bottom: 5px;
}

.event-modal .box input,
.event-modal .box textarea{
  width: 100%;
  height: 40px;
  border-radius: 3px;
  padding: 0 5px;
  background: transparent;
  border: 2px solid #252a35;
  color: #aeb0b4;
}

.event-modal .box input[type='date']::-webkit-datetime-edit-day-field:focus,
.event-modal .box input[type='date']::-webkit-datetime-edit-month-field:focus
.event-modal .box input[type='date']::-webkit-datetime-edit-year-field:focus
.event-modal .box input[type='time']::-webkit-datetime-edit-month-field:focus
.event-modal .box input[type='time']::-webkit-datetime-edit-year-field:focus
.event-modal .box input[type='time']::-webkit-datetime-edit-day-field:focus{
  color: #aeb0b4;
}

.event-modal .box textarea{
  height: 90px;
}

.event-modal button,
.btn{
  background: var(--primary-color);
  height: 40px;
  width: 150px;
  text-align: center;
  border: 1px solid var(--primary-color);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 700;
}

.event-modal .box .funny{
  display: inline-block;
  width: 170px;
  margin-right: 10px;
  height: 40px;
  line-height: 35px;
  border: 3px solid #252a35;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
}

.event-modal .box .funny.active{
  border-color: var(--axes-two);
}

.check-date{
  display: flex;
  justify-content: space-between;
}

.check-date .singular{
  width: 31%;
  display: flex;
}

.check-date .singular span{
  width: 45px;
  line-height: 40px;
}

button img.loader{
  width: 18px;
  position: relative;
  margin-right: 2px;
  top: 3px;
}

.enum-title{
  font-size: 30px;
  margin-bottom: 20px;
  display: flex;
}

.enum-title .expand{
  margin-left: 5px;
}

.enum-title .expand span{
  font-size: 30px;
  position: relative;
  top: 7px;
  cursor: pointer;
}

.badges{
  margin-top: 20px;
}

.badges span{
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.badges span.active{
  color: var(--primary-color);
}

.message{
  color: red;
}

.added-side{
  position: fixed;
  bottom: -100px;
  left: 0;
  width: 100vw;
  padding: 15px 30px;
  background: mediumseagreen;
  color: #fefefe;
  z-index: 9999;
  transition: 0.5s;
}

.added-side.active{
  bottom: 0;
}

.added-side span{
  position: relative;
  top: 5px;
  margin-right: 3px;
}

.event-modal .list-event-on-day{
  width: 900px;
  height: 60vh;
  background: #171c28;
  padding: 30px;
  position: relative;
}

.list-event-on-day .listings{
  margin-top: 30px;
}

.list-event-on-day .ot-title{
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

.list-event-on-day .ot-title button{
  width: 200px;
}

.empty-list{
  display: block;
  width: 300px;
  margin: 100px auto 0;
  text-align: center;
}

.empty-list img{
  width: 80px;
  margin-bottom: 20px;
}

.content .date{
  margin-bottom: 15px;
}

.content .date span{
  font-size: 20px;
  position: relative;
  top: 3px;
}

.content .comment{
  margin-top: 20px;
}

@media screen and (max-width: 765px) {
  .event-modal .content{
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .check-date{
    flex-direction: column;
  }

  .check-date .singular{
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 850px) {

}
