.content{
  display: flex;
  margin-top: 70px;
  margin-bottom: 10px;
}

.content .legende{
  width: 50px;
  border-right: 1px solid #c5c5c5;
}

.content .legende div{
  height: 45px;
  border-top: 1px solid #c5c5c5;
  line-height: 45px;
  text-align: center;
}

.event-box{
  width: 100%;
  display: flex;
}

.event-box .uno-day{
  width: 14.25%;
  border-right: 1px solid #c5c5c5;
  position: relative;
}

.event-box .uno-day .tit{
  position: absolute;
  top: -30px;
  left: 5px;
  font-size: 18px;
}

.event-box .uno-day .tit i{
  font-style: normal;
  font-size: 15px;
}

.event-box .box{
  height: 45px;
  border-top: 1px solid #c5c5c5;
}

@media screen and (max-width: 1000px){
  .container{
    overflow: auto;
  }

  .container .content{
    width: 1000px;
  }
}
