<div class="container">
  <div class="content">
    <div class="legende">
      <ng-container *ngFor="let hour of dayHours">
        <div>{{ hour }}h</div>
      </ng-container>
    </div>
    <div class="event-box">
      <div *ngFor="let day of weekDays" class="uno-day">
        <span class="tit">{{ day.day }}
          <i>{{ day.date }}/{{ day.month }}</i>
        </span>
        <div *ngFor="let hour of dayHours" class="box" (click)="createMeeting(day, hour)" >
          <ng-container *ngFor="let element of listing">
            <ng-container *ngIf="isSameDate(hour, day.date, element)">
              <app-inlineevent (edition)="handleEdit()" (remove)="deleteMeeting($event)" (click)="stopEvent($event)" [height]="elementHeight(element)" [data]="element" ></app-inlineevent>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
